body{
	background-image:url("fundo2.jpg");
}


.tema2{
position: relative; 

}

	
.tituloparana{
	position: relative;
	font-size: 40px;
	text-align: center;
	padding-top: 35px;
	font-weight: bold;
	font-style: italic;
	position: relative;
	padding-bottom: 50px;
	background-image:url("tema1.jpg");
	border-bottom: 3px solid #000000;
	color: #000000
}

.totalinfectados{
	margin-top: 50px;
	margin-left: 40px;
	border: 2px solid #ffffff;
	position: absolute;
	font-size: 25px;
	padding-right:50px;
	background:red ;
	padding-bottom: 5px;
	padding-top:5px;
	padding-left: 5px;
	font-style: italic; 
}

.infectadospordia{
	margin-top: 100px;
	margin-left: 40px;
	border: 2px solid #ffffff;
	position: absolute;
	font-size: 25px;
	padding-right:116px;
	background:red ;
	padding-bottom: 5px;
	padding-top:5px;
	padding-left: 5px;
	font-style: italic;

}

.curadostotal{
	margin-top: 50px;
	margin-left:0px;
	border: 2px solid #ffffff;
	position: absolute;
	font-size: 25px;
	padding-right: 5px;
	background:#00aa00;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	left: 40px;
	bottom: -220px;
	font-style: italic;
}

.totalmortes{
	margin-top: 50px;
	margin-left:0px;
	border: 2px solid #ffffff;
	position: absolute;
	font-size: 25px;
	padding-right: 105px;
	background:black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	left: 40px;
	color: white;
	font-style: italic;
	bottom: -300px;

}

.mortesdiarias{
	margin-top: 50px;
	margin-left:0px;
	border: 2px solid #ffffff;
	position: absolute;
	font-size: 25px;
	padding-right: 150px;
	background:black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	left: 40px;
	color: white;
	font-style: italic;
	bottom: -350px;
}



.divisao{
	 position:absolute;
	border: 3px solid #000000;
	left:0px;
	width:550px; 
	height:200px;
	padding-top: 200px;
	background-image: url("azulfosco.jpg");
}

.vacinaçao{
	position: absolute;
	font-size: 40px;
	left: 650px;
	top: 150px;
}

.vacinaçaototal{
	position:absolute;
	font-size: 25px;
	left: 600px;
	bottom: 370px;

}

.text{
	position:absolute;
	font-size: 25px;
	left: 556px;
	bottom: 123px;
	padding-right: 20px;
	font-style: ;
	font-weight: bold;
	border-bottom: 3px solid #000000;
	padding-bottom: 40px;
	padding-left: 20px;
}


.curitibatitulo{
	position: absolute;
	font-size: 35px;
	bottom: 40px;
	left: 380px;
}

.curitibatext{
	position: absolute;
	font-size: 25px;
	bottom: -150px;
	left: 100px;
	padding-left: 120px;
	padding-right: 120px;
}

.cidades{
	position: absolute;
	font-size: 35px;
	bottom: -220px;
	left: 100px;
	padding-left: 120px;
	padding-right: 120px;
}

ul{
	position: absolute;
	font-size: 20px;
	bottom: -520px;
	left: 240px;
}
.items1{
	font-size: 30px;
	border: 2px solid #000000;
	margin-bottom: 20px;
}

.items2{
	font-size: 30px;
	border: 2px solid #000000;
	margin-bottom: 20px;
}

.items3{
	font-size: 30px;
	border: 2px solid #000000;
	margin-bottom: 20px;
}

.items4{
	font-size: 30px;
	border: 2px solid #000000;
	margin-bottom: 20px;
}

.items5{
	font-size: 30px;
	border: 2px solid #000000;
	margin-bottom: 20px;

}

.rodaimg{
	margin-top: 1200px;
	position: absolute;
	height: 200px;
	width: 100%;
}

.img{
	height: 200px;
	width: 300px;
	margin-top: 1200px;
	position: absolute;
	left: 450px;
}

.Voltar{
	font-size: 25px;
	position: absolute;
	left: 1250px;
	bottom: 60px;
	border: 4px solid #000000;
	padding: 5px;
	background: #00ff00;

}

div a{
	text-decoration: none;
}



