.formato-header{
    background: rgba(29, 29, 29, 0.418);
    padding: 40px;
}

.ajustador_Pai{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ajustador__filho{
    margin-right: 3%;
    font-size: 30px;
    text-decoration: none;
}

.tirar-decoraçao{
    text-decoration: none;
    color: white;
}

.tirar-decoraçao:hover{
border-bottom: white 3px solid;
}

.nome{
    font-family: 'Libre Baskerville', serif;
    color: white;
    left: 20px;
    margin-top: -7px;
    font-size: 40px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 240, 95), rgb(158, 201, 3));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    
}

body{
    background-image: url("imagem-fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

